@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
}

.heading_box{
    width: 37%;
    min-height: 150px;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 3%;
}
.logo{
    width: 7%;
}

.p_clipboard{
    color: hsl(201, 11%, 66%);
    font-size: small;
   padding-bottom: 20px;
   padding-top: 12px;

}

.p_clipboard_bottom{
     padding-bottom: 20%;
}

button{
    background-color: hsl(171, 66%, 44%);
    border: none;
    width:150px;
    height: 36px;
    color: white;
    padding-bottom: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 5px 5px hsl(171, 58%, 67%);
}

.button2 {background-color: hsl(233, 100%, 69%);
         box-shadow: 2px 5px 5px hsl(233, 80%, 73%);
         margin-left: 15px;
         
}


.in_heading_box{
  text-align: center;
  font-family:'Bai Jamjuree', sans-serif;
}

.section_keep_track{
    padding-top: 60px;
}

.text_box{
    width: 100%;
    height: 70px;
    /* background-color: aqua; */
    font-family: 'Bai Jamjuree', sans-serif;
}

.p_text_box{
    color: hsl(201, 11%, 66%);
    font-size: small;
    padding-top: 9px;
    padding-bottom: 25px;
    
}

.p_text_box2{
    margin-bottom: 15px;
}

.img_computer{
    width: 50%;
    height: 30%;
    position: relative;
    right: 30px;
}

.text_column_display{
    display: flex;
    flex-direction: column;

}

.computer_row{
    display: flex;
    gap: 3rem;;
    
}