@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
}

.heading_box{
    width: 37%;
    min-height: 150px;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 3%;
}
.logo{
    width: 7%;
}

.p_clipboard{
    color: hsl(201, 11%, 66%);
    font-size: small;
   padding-bottom: 20px;
   padding-top: 12px;

}

.p_clipboard_bottom{
     padding-bottom: 15%;
}

.in_heading_box{
    text-align: center;
    font-family:'Bai Jamjuree', sans-serif;
  }

button{
    background-color: hsl(171, 66%, 44%);
    border: none;
    width:150px;
    height: 36px;
    color: white;
    padding-bottom: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 5px 5px hsl(171, 58%, 67%);
}

.button2 {background-color: hsl(233, 100%, 69%);
         box-shadow: 2px 5px 5px hsl(233, 80%, 73%);
         margin-left: 15px;
         
}

button:hover{
    background-color: hsl(171, 58%, 67%);
    opacity: 0.8;
    color: white;
}

.button2:hover{
    background-color: hsl(233, 100%, 69%);
    opacity: 0.8;
    color: white;
}



.section_keep_track{
    padding-top: 60px;
}

.text_box{
    width: 100%;
    height: 70px;
    /* background-color: aqua; */
    font-family: 'Bai Jamjuree', sans-serif;
}

.p_text_box{
    color: hsl(201, 11%, 66%);
    font-size: small;
    padding-top: 9px;
    padding-bottom: 25px;
    
}

.p_text_box2{
    margin-bottom: 15px;
}

.img_computer{
    width: 50%;
    height: 30%;
    position: relative;
    right: 30px;
}

.text_column_display{
    display: flex;
    flex-direction: column;

}

.computer_row{
    display: flex;
    gap: 3rem;;
    
}

.Access_clipboard_box{
    width: 37%;
    min-height: 150px;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 3%;
}

.img_devices{
    width: 80%;
    padding-top: 8%;
}

.tools_productivity_box{
    width: 100%;
    min-height: 70px;
    /* background-color: aqua; */
    font-family: 'Bai Jamjuree', sans-serif;
    margin-top: 2%;
}

.tools_icons{
    width: 9%;
}

.tool_box_row_display{
    display: flex;
    gap: 2rem;
    align-content: center;
}

.general_tool_box_container{
    width: 60%;
    margin: auto;
    margin-top: 3%;
   
}

.company_trademark{
    width: 60%;
    min-height: 5rem;
    margin: auto;
    margin-top: 3%;
    /* background-color: red; */
    padding-bottom: 3rem;
}

.company_trademark_icon{
    width: 100%;
    margin-top: 2rem;
}

.company_trademark_icon_row_display{
    display: flex;
    gap: 5rem;
}


footer{
    width: 100%;
    min-height: 5rem;
    margin: auto;
    margin-top: 3%;
    background-color: hsl(210, 9%, 91%);
}

.footer_div{
  padding: 3%;
  padding-left: 6%;
}

.p_footer{
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: 2;
    color: hsl(210, 10%, 33%);
    margin-bottom: 1%;

}

.a_info{
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

.a_info:hover{
    color: hsl(171, 58%, 67%);
}
.footer_row_display{
    display: flex;
    gap: 3rem;
}

.fa {
    padding: 10px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 2px; */
    color: hsl(210, 10%, 33%);
  }

  .fa:hover {
    color:hsl(171, 58%, 67%)
}

.icon_info_display{
    display:flex;
    gap: 23rem;
    /* padding-top: 3%; */
}

.logo_footer{
    width: 50%;
}


@media screen  and (max-width:414px){
    html {
        scroll-behavior: smooth;
      }
    
      body{
        background-image: url(./images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .heading_box{
        width: 100%;
        min-height: 150px;
        /* background-color: aqua;
        margin: auto; */
        margin-top: 3%;
    }

    .button2 {background-color: hsl(233, 100%, 69%);
        box-shadow: 2px 5px 5px hsl(233, 80%, 73%);
        margin-top: 15px;
}

.Access_clipboard_box{
    width: 100%;
    min-height: 150px;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 3%;
}


.computer_row{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    font-family:'Bai Jamjuree', sans-serif;
}
.img_computer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}

.tool_box_row_display{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-content: center;
}

.footer_row_display{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.icon_info_display{
    display:flex;
    flex-direction: column;
    gap: 23rem;
    /* padding-top: 3%; */
}

.icon_info_display{
    display:flex;
    gap: rem;
}

.logo_footer{
    width: 20%;
}

footer{
    width: 100%;
    /* min-height: 5rem; */
    margin: auto;
    margin-top: 5%;
    background-color: hsl(210, 9%, 91%);
}

.footer_row_display{
    display: flex;
    gap: 1rem;
    text-align: center;
    margin-top: 5%;
}

main{
    padding: 7%;
}

.button_dsiplay_row{
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    align-items: center;
}


}
